<!DOCTYPE html>
<html lang="en">
<head>
<title>{{info['product_titel']}}</title>
<style>{{css_text}}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head> 
<body>
  <div class="container_spec">
     <div class="column">
       <h2> {{ info['product_titel'] }} </h2>
       <ul>
       {% for s in info['specificaties'] %}
         <li>{{s.replace("•", "").strip()}}</li>
       {% endfor %}
       </ul>
     </div>
     <div class="column_double">
      <div class="column_first"></div>
      <div class="column_second">
        <p>{{ info['weergave_btw'] }} </p>
        <p>{{ info['str_prijs_product'] }}</p>
       </div>
      <br/> <br/>
      <table style="width: 95%; margin: auto;">
        {% for item in info['specificaties_table'] %}
        <TR>
          <TD class="c1">{{item}}</TD>
          <TD class="c2">{{info['specificaties_table'][item]}}</TD>
        </TR>
          {% if loop.index % 3 == 0 %}
          <tr style="height: 8px;"><td colspan="50"></td></tr>
          {% endif %}
        {% endfor %}
      </table>
     </div>
  </div>

<div class="container_opties">
     <div class="column">
       {% if info['opties']|length > 0 %}
       <h4>Opties gemonteerd</h4>
       <ul>
       {% for s in info['opties'] %}
         {{s}}
       {% endfor %}
       </ul>
       {% endif %}
      </div>
    <div class="column_double">
      <div class="column_first">
     </div>
     <div class="column_second">
     </div></div>
  </div>


<div class="container_leges">
   <div class="column">
     <h4>Transport-/leges en afleveringskosten</h4>
    </div>
    <div class="column_double"><div class="column_first">
   </div>
   <div class="column_second">
      <p>{{ info['leges_kosten_str'] }} </p>
   </div></div>
</div>

<div class="container_totaal">
   <div class="column">
     <h2>Totaalprijs rijklaar + 1 jaar garantie</h2>
     {% if info['opties_weergave_btw'] == 'Exclusief' %}
     <i>* Alle prijzen zijn exclusief BTW </i>
     {% endif %}
    </div>
    <div class="column_double"><div class="column_first">
   </div>
   <div class="column_second">
      <p>{{ info['str_prijs_totaal'] }}</p>
      {% if info['opties_weergave_btw'] == 'Exclusief' %}
      excl. btw
      {% endif %}
      {% if info['opties_weergave_btw'] == 'Inclusief' %}
      incl. btw
      {% endif %}
   </div></div>
</div>
<div class="image_block">
  <center><a href="{{ info['opties_link'] }}">
    <img src="data:image/png;base64,{{ info['qrcode_base64'] }}" border="0">
  </a></center>
</div>
</body>
</html>
